__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/

outputs/
models/
checkpoints/
wandb/
runs/
*.log

data/chat_*.json
data/splits/
data/wolof_*.jsonl
!data/syntetic_wolof_instruct_data.jsonl

hub_upload_adapter/
*.safetensors
*.bin
*.pt
*.pth

.DS_Store
